
body {
  background-color: #222222;
  color: #dddddd;
  padding: 20px;
}

/********** control panel styling **********/

.btn--rj {
  font-size: 13px !important;
  background-color: #DDDDDD !important;
}

.btn--rj:hover {
  background-color: #FFFFFF !important;
}

#output {
  box-sizing: border-box;
  background-color: #080808;
  font-family: monospace;
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
}

/* end control panel styling */

/********** table styling **********/

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #555555;
}

/* id */
thead th:nth-child(1) {
  width: 8%;
}

/* name */
thead th:nth-child(2) {
  width: 20%;
}

/* tempo */
thead th:nth-child(3) {
  width: 11%;
}

/* version */
thead th:nth-child(4) {
  width: 8%;
}

/* type */
thead th:nth-child(5) {
  width: 10%;
}

/* path */
thead th:nth-child(6) {
  width: 43%;
}

td {
  padding: 8px;
}

tr td:nth-child(6) {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

tr:hover {
  background-color: #333333;
  font-weight: bold;
}

#userdata th {
  background-color: #000957;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px;
}

#userdata th a {
  text-decoration: none;
  display: block;
}

#userdata td {
  padding: 8px;
}

.dynatable-active-page {
  background-color: #000b69;
}

#dynatable-search-userdata {
  float: none;
}

#dynatable-query-search-userdata,
#dynatable-per-page-userdata {
  background-color: #EEEEEE !important;
  color: #222222;
  outline: none;
}

#dynatable-query-search-userdata:focus,
#dynatable-per-page-userdata:focus {
  outline: none !important;
}

/* end table styling */

/********** data format styling **********/

tr.row-midi {
  background-color: #570009;
}
tr.row-midi:hover {
  background-color: #671921;
}

tr.row-wav {
  background-color: #0A0A0A;
}
tr.row-wav:hover {
  background-color: #181818;
}

tr.row-rpp {
  background-color: #095700;
}
tr.row-rpp:hover {
  background-color: #216719;
}

/* end data format styling */
