# Ignore everything except for the main README files -----

*
!.gitignore
!readme.md
!/**/

# Ignore files from individual projects -----

Projects/**/*
!Projects/*.md

# Include drum part files -----

!Beats/Parts/*.mid
!Beats/Parts/*.md
!Beats/Parts/*.mp3
