body {
  background-color: #222222;
  color: #DDDDDD;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.btn {
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

#output {
  background-color: #111111;
  font-family: monospace;
  width: 100%;
  height: 300px;
}
