
body {
  background-color: #222222;
  color: #dddddd;
  padding: 2rem 4rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
}

/* table styling */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #555555;
  margin: 20px 0;
}

/* id */
thead th:nth-child(1) {
  width: 8%;
}

/* name */
thead th:nth-child(2) {
  width: 20%;
}

/* tempo */
thead th:nth-child(3) {
  width: 12%;
}

/* version */
thead th:nth-child(4) {
  width: 8%;
}

/* type */
thead th:nth-child(5) {
  width: 10%;
}

/* path */
thead th:nth-child(6) {
  width: 42%;
}

td {
  padding: 8px;
}

tr td:nth-child(6) {
  font-size: 0.75em;
  font-family: 'Courier New', Courier, monospace;
}

tr:hover {
  background-color: #333333;
  font-weight: bold;
}

#userdata th {
  background-color: #000957;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.dynatable-active-page {
  background-color: #000b69;
}

#userdata th a {
  padding: 15px 5px;
  text-decoration: none;
  display: block;
}

/* end table styling */

/* data format styling */

tr.row-midi {
  background-color: #570009;
}
tr.row-midi:hover {
  background-color: #671921;
}

tr.row-wav {
  background-color: #0A0A0A;
}
tr.row-wav:hover {
  background-color: #181818;
}

tr.row-rpp {
  background-color: #095700;
}
tr.row-rpp:hover {
  background-color: #216719;
}

/* end data format styling */
